.home {
  background-color: #f7ede5;
  padding-top: 40px;
  padding-bottom: 40px;
}

.font-light {
  font-family: 'Outfit', sans-serif;
}

.main-text{
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.sub-text{
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}